# 服务器端口配置
PORT=3020

# SQL Server 数据库配置
SQLSERVER_HOST=csfhcdz.f3322.net
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=chargingdata
SQLSERVER_USER=csfh
SQLSERVER_PASSWORD=fh123456

# MySQL 数据库配置
MYSQL_HOST=csfhcdz.f3322.net
MYSQL_PORT=3306
MYSQL_USER=external_user
MYSQL_PASSWORD=YourStrongPassword123!
MYSQL_DATABASE=miniprogram_system
